@charset "UTF-8";

@import url("/src/styles/settings/change-theme.css");
@import url("/src/styles/settings/root.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

* {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.color-swap {
    background-color: var(--dark-elements);
}

.background-swap {
    background-color: var(--dark-background);
    color: var(--white-elements);
}

body {
    transition: 0.1s;
}

main {
    margin: 30px auto;
    width: 95%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    height: 80px;
    box-shadow:  0 2px 10px -8px var(--shadow);
}

header h1 {
    font-size: var(--first-font);
    cursor: pointer;
}

.search-container {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 40px;
    margin: auto;
    width: 95%;
}

form {
    display: flex;
    width: 80%;
}

form, label{
    height: 45px;
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 10px -4px var(--shadow);
}

form > button {
    background: url("/src/img/search.svg") no-repeat center;
    flex-basis: 25%;
    border: none;
    cursor: pointer;
}

input[type="search"] {
    background-color: transparent;
    flex-basis: 74%;
    font-weight: 600;
    border: none;
}

#check-box {
    display: none;
}

nav {
    overflow: hidden;
    position: absolute;
    border-radius: 5px;
    font-weight: 600;
    height: 0;
    width: 40%;
    top: 135px;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    cursor: pointer;
    list-style: none;
    padding: 18px 15px;
}

#check-box:checked ~ nav {
    height: auto;
}

section > label {
    background: url("/src/img/filter.svg") no-repeat center;
    cursor: pointer;
    border-radius: 5px;
    width: 25%;
}

.toggle {
    cursor: pointer;
}

.countries {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 280px));
    justify-content: center;
    row-gap: 35px;
    column-gap: 35px;
    margin-top: 100px;
}

.country {
    box-shadow: 1px 1px 10px -4px var(--shadow);
    border-radius: 5px;
    cursor: pointer;
    height: 420px;
    margin: auto;
    width: 100%;
}

.country-img {
    overflow: hidden;
    height: 180px;
    width: 100%;
}

.country-img img {
    object-fit: fill;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 180px;
}

.country-details h2 {
    margin-bottom: 10px;
}

.country-details {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 2rem;
}

.show {
    display: none;
}

.country-modal {
    position: fixed;
    overflow-y: scroll;
    height: 100.5%;
    left: 0;
    top: -1px;
    padding-bottom: 20px;
    width: 100%;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 190px auto 0;
    width: 90%;
}

.left-modal img{
    object-fit: cover;
    width: 100%;
}

.rigth-modal {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 30px;
    width: 100%;
}

.rigth-modal > h1 {
    font-size: var(--first-font);
}

.rigth-modal h2 {
    font-size: var(--second-font);
}

.rigth-modal p {
    margin: 10px auto;
}

section > button {
    background: url("/src/img/arrow.svg") no-repeat center;
    box-shadow: 1px 1px 10px -4px var(--shadow);
    position: absolute;
    cursor: pointer;
    top: 30px;
    left: 30px;
    border: none;
    border-radius: 5px;
    height: 45px;
    width: 18%;
}

.borders p {
    overflow: hidden;
    text-overflow: ellipsis;
}