:root {
    --darkElements: hsl(207, 23%, 17%);
    --darkBackground: hsl(210, 26%, 12%);
    --darkColor: hsl(0, 0%, 100%);

    --whiteElements: hsl(0, 0%, 100%);
    --whiteBackground: hsl(0, 0%, 92%);
    --whiteColor: hsl(200, 15%, 8%);

    --shadow: hsla(0, 0%, 0%, 0.726);

    --firstFont: 1.375rem;
    --secondFont: 1.125rem;
}