:root {
    --dark-elements: #212c35;
    --dark-background: #171f27;
    --dark-color: #fff;
    --white-elements: #fff;
    --white-background: #ebebeb;
    --white-color: #111517;
    --shadow: #000000b9;
    --first-font: 1.375rem;
    --second-font: 1.125rem;
}